In [1]:
print("hello,world")

hello,world

In [2]:
print("Hello, World!")

Hello, World!

## Data types

#data types

# Data types

In [4]:
# string is either double quotes or single quotes

test ="hello"

print(test)

In [6]:
type(test)

str

In [7]:
# numeric types come in two forms
# integers and floats 

#integer
number = 10 

# float
floaty = 5.4

In [8]:
number + floaty

15.4

In [9]:
test + number

TypeError: can only concatenate str (not "int") to str

In [10]:
test + test

'hellohello'

### Operators

In [11]:
18 + 5

23

In [12]:
180-37

143

In [13]:
7/3.4

2.058823529411765

In [14]:
6*30

180

In [15]:
# to the power
2 ** 9

512

In [16]:
# floor division, rounds to the nearest integer
35 // 3

11

In [17]:
# modulo, want the remainder for stuff
24 % 5

4

In [20]:
# concatenation with strings

'oof' + 'bar'

'oofbar'

In [21]:
'oof' * 12

'oofoofoofoofoofoofoofoofoofoofoofoof'

## Python Collections

In [1]:
# list ( no spaces and no hyphens in names) List specified in square brackets 

my_list = [1, '2', 3.2]

In [3]:
# square bracket is an index
print(my_list[0])

1

In [6]:
p#: (blank) means all the way to the end. retrieve all items but the 1st item
print(my_list[1:])

['2', 3.2]

In [8]:
# dictionary, data structure with no intrinsic order. Has a key and value associated with it. {}
my_dict = {'one': 1, 'two': 2, 'three': 3}

In [13]:
print(my_dict['one'])

1

In [14]:
! ls

LICENSE  README.md  assets  data  hello.ipynb

In [16]:
# ! = terminal command, unzip, unzips files in the command line
! unzip data/portal-teachingdb-master.zip

Archive:  data/portal-teachingdb-master.zip
   creating: portal-teachingdb-master/
  inflating: portal-teachingdb-master/surveys2001.csv
  inflating: portal-teachingdb-master/surveys2002.csv
  inflating: portal-teachingdb-master/speciesSubset.csv
  inflating: portal-teachingdb-master/bouldercreek_09_2013.txt
  inflating: portal-teachingdb-master/species.csv
  inflating: portal-teachingdb-master/surveys.csv
  inflating: portal-teachingdb-master/portal_mammals.sqlite
  inflating: portal-teachingdb-master/README.txt
  inflating: portal-teachingdb-master/plots.csv

In [17]:
#aliasing pandas to pd for ease
import pandas as pd

In [19]:
surveys_df = pd.read_csv('portal-teachingdb-master/surveys.csv')